body {
  margin: 0;
}

header {
  /* Sets background color to black. */
  background-color: black;
  /* Adds 40 pixels of space under the header
  so that the main content isn't so close
  to the navigation. */
  margin-bottom: 40px;
}